._*
_*
/_*
.DS*

!.gitignore


/OUTPUT/DATA_EXTRACTS/MODISA
/OUTPUT/DATA_EXTRACTS/ACSPO
/OUTPUT/DATA_EXTRACTS/ACSPONRT
/OUTPUT/DATA_EXTRACTS/OCCCI
/OUTPUT/DATA_EXTRACTS/GLOBCOLOUR
/OUTPUT/DATA_EXTRACTS/SAV
/OUTPUT/DATA_EXTRACTS/*.*
/OUTPUT/DATA_EXTRACTS/V*

!/OUTPUT/DATA_EXTRACTS/V2023-NES_GBK_GOME_GOMS_MABN_MABSPOLY-COMPILED_DATA_FILE.CSV
